<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head}">
    <title>Confirmación de Cita</title>
</head>
<body>
<header th:replace="~{layout/plantilla :: header}"/>

<div class="container mt-5 text-center">
    <h2 class="text-success">¡Cita solicitada con éxito!</h2>
    <p>Tu solicitud de atención personalizada ha sido enviada. Recibirás una confirmación por correo electrónico.</p>
    <a href="/" class="btn btn-primary mt-3">Volver al inicio</a>
</div>

<footer th:replace="~{layout/plantilla :: footer}"/>
</body>
</html>
