<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/plantilla :: head}">
    <title>Administrar Clases</title>
    <meta charset="UTF-8"/>
</head>

<body>
    <header th:replace="~{layout/plantilla :: header}"/>

    <!-- Botón para agregar clase -->
    <section th:replace="~{admin/clases/fragmentos :: btnAgregar}"/>

    <!-- Modal para agregar clase -->
    <section th:replace="~{admin/clases/fragmentos :: agregarClase}"/>

    <!-- Listado de clases -->
    <section th:replace="~{admin/clases/fragmentos :: listado}"/>

    <footer th:replace="~{layout/plantilla :: footer}"/>
</body>
</html>
