<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{layout/plantilla :: head}">
        <title>Blog - GymApp</title>
        <meta charset="UTF-8"/>
    </head>

    <body>
        <header th:replace="~{layout/plantilla :: header}"/>

        <!-- ✅ Sección del Blog con iframe -->
        <section class="container mt-5 text-center">
            <h1 class="fw-bold">Nuestro Blog</h1>
            <p class="lead">Mantente informado con los últimos consejos y noticias del mundo fitness.</p>

            <div class="ratio ratio-16x9">


                <iframe
                    src= "https://www.gymcompany.es/blog/?srsltid=AfmBOoo3cjNAYX0z7IxXBD45ztKzV6S4Y5bo8JfTEkahik8lAJ0GI8KM"
                    height="400" width="1400">

                </iframe>
            </div>
        </section>

        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>
